<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenido</title>
  </head>
  <body
    style="font-family: Arial, sans-serif; background: #f4f4f4; padding: 20px"
  >
    <div style="background: white; padding: 20px; border-radius: 8px">
      <h2>¡Hola, {{name}}!</h2>
      <p>Gracias por formar marte de nuestro equipo.</p>
      <p>Estas son tus credenciales para acceder al sistema:</p>
      <p>- Nombre de usuario: {{username}} - Contraseña: {{password}}</p>
      <p>Recuerda cambiar tu contraseña una vez que lo hayas ingresado.</p>
      <p>
        Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos.
      </p>
      <p>¡Que tengas un excelente día!</p>
      <p>Atentamente,</p>
      <p>El equipo de Genao Cell</p>
    </div>
  </body>
</html>
